
@model IEnumerable<Item>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Tags</th>
                <th>Owner</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-controller="Item" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-itemId="@item.Id" asp-route-id="@item.Collection.Id">@item.Name</a></td>
                    <td>
                        @for (int j = 0; j < item.Tags.Count; j++)
                        {
                            @item.Tags[j].Text;
                        }
                    </td>
                    <td>@item.Collection.User.UserName</td>
                </tr>
            }
        </table>
</div>
