@model UserCollections.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Список пользователей";
}

<div class="row m-4  justify-content-center">
    <div class="row mb-4 justify-content-center">
        <form method="get">
            <button asp-controller="Profile" asp-action="Create" asp-route-name="@ViewBag.Name" class="btn btn-outline-success">Create New Collection</button>
        </form>
    </div>
    <hr>
    <div class="row mt-4">
        <h3 class="text-center">@ViewBag.Name's Collections</h3>
    </div>
    <div class="row mt-4 justify-content-around">
        @for (int i = 0; i < Model.Collections.Count; i++)
        {
            <div class="col-md-3 col-sm-5 auth-form p-0 mb-3 mt-3">
                <div class="card">
                    <form method="get">
                        <img src="@Model.Collections[i].Image" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Collections[i].CollectionName</h5>
                            <p class="card-theme">@Model.Collections[i].Theme</p>
                            <p class="card-text" id="markdown-show-@i">@Model.Collections[i].Description</p>
                            <hr>
                            <p class="card-text">by @Model.Collections[i].User.UserName</p>
                            <button asp-controller="Profile" asp-action="Delete" asp-route-name="@ViewBag.Name" asp-route-id="@Model.Collections[i].Id" class="btn btn-outline-danger">Delete</button>
                            <button asp-controller="Profile" asp-action="Edit" asp-route-name="@ViewBag.Name" asp-route-id="@Model.Collections[i].Id" class="btn btn-outline-primary">Edit</button>
                            <button asp-controller="Collection" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-id="@Model.Collections[i].Id" class="btn btn-outline-success">Details</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/lib/markdown/lib/markdown.js"></script>
<script>
     for (i = 0; i < @Model.Collections.Count; i++) {
         document.querySelector(`#markdown-show-${i}`).innerHTML = markdown.toHTML(document.querySelector(`#markdown-show-${i}`).innerHTML)
    }
</script>