
@model PostgresTest.ViewModels.ConstantValues
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-3 justify-content-around">
    <div class="col-10">
        <div id="tag-cloude"></div>
    </div>
</div>
<div class="row mt-3 justify-content-around">
    <div class="col-md-8">
        <h3 class="text-center">Largest Collections</h3>
        <div class="row m-3 justify-content-around">
            @for (int i = 0; i < Model.Collections.Count; i++)
            {
                <div class="col-sm-5 auth-form p-0 mb-3 mt-3">
                    <div class="card">
                        <form method="get">
                            <img src="@Model.Collections[i].Image" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Collections[i].CollectionName</h5>
                                <p class="card-theme">@Model.Collections[i].Theme</p>
                                <p class="card-text" id="markdown-show-@i">@Model.Collections[i].Description</p>
                                <hr>
                                <p class="card-text">by @Model.Collections[i].User.UserName</p>
                                <button asp-controller="Collection" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-id="@Model.Collections[i].Id" class="btn btn-success">Details</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4 justify-content-center overflow-auto">
        <h3 class="text-center">Last Added Items</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Collection</th>
                <th>Owner</th>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr>
                    <td><a asp-controller="Item" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-itemId="@Model.Items[i].Id" asp-route-id="@Model.Items[i].Collection.Id">@Model.Items[i].Name</a></td>
                    <td><a asp-controller="Collection" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-id="@Model.Items[i].Collection.Id">@Model.Items[i].Collection.CollectionName</a></td>
                    <td>@Model.Items[i].Collection.User.UserName</td>
                </tr>
            }
        </table>
    </div>
</div>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-tag-cloud.min.js"></script>
<script src="~/lib/markdown/lib/markdown.js"></script>
<script>
     for (i = 0; i < @Model.Collections.Count; i++) {
         document.querySelector(`#markdown-show-${i}`).innerHTML = markdown.toHTML(document.querySelector(`#markdown-show-${i}`).innerHTML)
    }
    var data = "@Model.Tags";
        chart = anychart.tagCloud();
        chart.data(data, {
            mode: "byWord"
        });
        chart.container("tag-cloude");
    chart.title("Tag Cloud Chart");
    chart.mode("rect");
        chart.draw();
    chart.listen("pointClick", function (e) {
        var url = window.location.href.split("/").slice(0, 3).join("/") + `/search/tag/${e.point.get("x")}/@ViewBag.Name`;
        window.open(url, "_blank");
    });
</script>
