@model PostgresTest.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Список пользователей";
}
<div class="modal-content">
    <form method="post" asp-controller="Collection" asp-action="Edit" asp-route-name="@ViewBag.Name" asp-route-id="@ViewBag.CollectionId" asp-route-itemId="@Model.Item.Id">
        <div class="modal-body">
            <div class="row mb-3 justify-content-center align-items-center">
                <label class="col-4 control-label">Name</label>
                <div class="col-7">
                    <input class="form-control" placeholder="Name" asp-for="Item.Name" value="@Model.Item.Name" />
                </div>
            </div>
            <div class="row mb-3 justify-content-center align-items-center">
                <label class="col-4 control-label">Tags</label>
                <div class="col-7">
                    <input class="form-control tag-input" placeholder="Tags" asp-for="TagString" value="@Model.TagString" />
                </div>
            </div>
            @for (int j = 0; j < Model.optFields[0].Count; j++)
            {
                <div class="row mb-3 justify-content-center align-items-center">
                    <label class="col-4 control-label">@Model.optFields[0][j]</label>
                    <div class="col-7">
                        <input class="form-control" placeholder="@Model.optFields[0][j]" asp-for="Item.DigitFields[j].Digit" value="@Model.Item.DigitFields[j].Digit" />
                    </div>
                </div>
            }
            @for (int j = 0; j < Model.optFields[1].Count; j++)
            {
        <div class="row mb-3 justify-content-center align-items-center">
            <label class="col-4 control-label">@Model.optFields[1][j]</label>
            <div class="col-4">
                <textarea class="markdown-@j form-control" placeholder="@Model.optFields[1][j]" asp-for="Item.TextFields[j].Text">
                    @Model.Item.TextFields[j].Text
                </textarea>
            </div>
            <div class="col-3" id="markdown-show-@j">
            </div>
        </div>
            }
            @for (int j = 0; j < Model.optFields[2].Count; j++)
            {
                <div class="row mb-3 justify-content-center align-items-center">
                    <label class="col-4 control-label">@Model.optFields[2][j]</label>
                    <div class="col-7">
                        <input class="form-control" placeholder="@Model.optFields[2][j]" asp-for="Item.WordFields[j].Word" value="@Model.Item.WordFields[j].Word" />
                    </div>
                </div>
            }
            @for (int j = 0; j < Model.optFields[3].Count; j++)
            {
                <div class="row mb-3 justify-content-center align-items-center">
                    <label class="col-4 control-label">@Model.optFields[3][j]</label>
                    <div class="col-7">
                        <input type="datetime-local" class="form-control" placeholder="@Model.optFields[3][j]" asp-for="Item.DateFields[j].Date" value="@Model.Item.DateFields[j].Date.ToString("yyyy-MM-ddThh:mm")" />
                    </div>
                </div>
            }
            @for (int j = 0; j < Model.optFields[4].Count; j++)
            {
                <div class="row mb-3 justify-content-center align-items-center">
                    <label class="col-4 control-label">@Model.optFields[4][j]</label>
                    <div class="col-7">
                        @if (Model.Item.CheckboxFields[j] is null || Model.Item.CheckboxFields[j].Checkbox)
                        {
                            <input type="checkbox" checked="checked" class="form-check-input" placeholder="@Model.optFields[4][j]" asp-for="Item.CheckboxFields[j].Checkbox" />
                        }
                        else
                        {
                            <input type="checkbox" class="form-check-input" placeholder="@Model.optFields[4][j]" asp-for="Item.CheckboxFields[j].Checkbox" />
                        }
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-outline-success" value="Save" />
            <button type="button" class="btn btn-outline-success" onclick="window.location.href=`/Collection/Index/@ViewBag.CollectionId/@ViewBag.Name`">Cancel</button>
        </div>
    </form>
</div>
<script src="~/lib/yaireo/tagify/dist/tagify.min.js"></script>
<script src="~/lib/markdown/lib/markdown.js"></script>
<script>
    for (let j = 0; j < @Model.optFields[1].Count; j++) {
        document.querySelector(`#markdown-show-${j}`).innerHTML = markdown.toHTML(document.querySelector(`.markdown-${j}`).value)
        document.querySelector(`.markdown-${j}`).addEventListener('input', function () {
                document.querySelector(`#markdown-show-${j}`).innerHTML = markdown.toHTML(document.querySelector(`.markdown-${j}`).value)
    });
    }
    


    possibleTags = "@Model.Tags".split(' ');
    let tagify = new Tagify(document.querySelector('.tag-input'), {
        originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(' '),
        whitelist: possibleTags,
    })
</script>