@model PostgresTest.ViewModels.CollectionViewModel
@{
    ViewBag.Title = "Список пользователей";
}
    <div style="overflow-x: auto">
        <form method="get" asp-controller="Collection" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-id="@ViewBag.CollectionId">
            <input type="hidden" asp-for="SortBy" value="@Model.SortBy" id="sort-by">
            <input type="hidden" asp-for="SortOrder" value="@Model.SortOrder" id="sort-order">
            <table class="table table-striped">
                <tr>
                    <th>
                        Name
                        <div class="row">
                            <input asp-for="FilterForName.FilterText" value="">
                            <input type="submit" class="btn btn-success" value="Execute Filter">
                        </div>
                        <input type="submit" class="btn btn-primary" onclick="CreateSort(1)">
                    </th>
                    <th>
                        Tags
                        <div class="row">
                            <input asp-for="FilterForTags.FilterTags" value="@Model.FilterForTags.FilterTags">
                            <input type="submit" class="btn btn-success" value="Execute Filter">
                        </div>
                        <input type="submit" class="btn btn-primary" onclick="CreateSort(2)">
                    </th> 
                    @for (int j = 0; j < Model.optFields[0].Count; j++)
                    {
                        <th>
                            @Model.optFields[0][j]
                            <div class="row">
                                <input asp-for="FilterForDigit[j].FilterDigit1" value="@Model.FilterForDigit[j].FilterDigit1">
                                <input asp-for="FilterForDigit[j].FilterDigit2" value="@Model.FilterForDigit[j].FilterDigit2">
                                <input type="submit" class="btn btn-success" value="Execute Filter">
                            </div>
                            <input type="submit" class="btn btn-primary" onclick="CreateSort(3+@j)">
                        </th>
                    }
                    @for (int j = 0; j < Model.optFields[1].Count; j++)
                    {
                        <th>
                            @Model.optFields[1][j]
                            <div class="row">
                                <input asp-for="FilterForText[j].FilterText" value="@Model.FilterForText[j].FilterText">
                                <input type="submit" class="btn btn-success" value="Execute Filter">
                            </div>
                            <input type="submit" class="btn btn-primary" onclick="CreateSort(3+@Model.optFields[0].Count+@j)">
                        </th>
                    }
                    @for (int j = 0; j < Model.optFields[2].Count; j++)
                    {
                        <th>
                            @Model.optFields[2][j]
                            <div class="row">
                                <input asp-for="FilterForWord[j].FilterText" value="@Model.FilterForWord[j].FilterText">
                                <input type="submit" class="btn btn-success" value="Execute Filter">
                            </div>
                            <input type="submit" class="btn btn-primary" onclick="CreateSort(3+@Model.optFields[0].Count
                                                                                              +@Model.optFields[1].Count+@j)">
                        </th>
                    }
                    @for (int j = 0; j < Model.optFields[3].Count; j++)
                    {
                        <th>
                            @Model.optFields[3][j]
                            <div class="row">
                                <input asp-for="FilterForDate[j].FilterDate1" value="@Model.FilterForDate[j].FilterDate1">
                                <input asp-for="FilterForDate[j].FilterDate2" value="@Model.FilterForDate[j].FilterDate2">
                                <input type="submit" class="btn btn-success" value="Execute Filter">
                            </div>
                            <input type="submit" class="btn btn-primary" onclick="CreateSort(3+@Model.optFields[0].Count+
                                                                                               @Model.optFields[1].Count+
                                                                                              @Model.optFields[2].Count+@j)">
                        </th>
                    }
                    @for (int j = 0; j < Model.optFields[4].Count; j++)
                    {
                        <th>
                            @Model.optFields[4][j]
                            <div class="row">
                                <select asp-for="FilterForBoolean[j].val">
                                    @if (Model.FilterForBoolean[j].val is null || Model.FilterForBoolean[j].val == "All")
                                    {
                                        <option value="All" selected>All</option>
                                    }
                                    else
                                    {
                                        <option value="All">All</option>
                                    }
                                    @if (Model.FilterForBoolean[j].val == "Yes")
                                    {
                                        <option value="Yes" selected>Checked</option>
                                    }
                                    else
                                    {
                                        <option value="Yes">Checked</option>
                                    }
                                    @if (Model.FilterForBoolean[j].val == "No")
                                    {
                                        <option value="No" selected>Unchecked</option>
                                    }
                                    else
                                    {
                                        <option value="No">Unchecked</option>
                                    }
                                </select>
                                <input type="submit" class="btn btn-success" value="Execute Filter">
                            </div>
                            <input type="submit" class="btn btn-primary" onclick="CreateSort(3+@Model.optFields[0].Count+
                                                                                               @Model.optFields[1].Count+
                                                                                               @Model.optFields[2].Count+
                                                                                               @Model.optFields[3].Count+@j)">
                        </th>
                    }
                </tr>
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <tr>
                            <td><a asp-controller="Item" asp-action="Index" asp-route-name="@ViewBag.Name" asp-route-itemId="@Model.Items[i].Id" asp-route-id="@ViewBag.CollectionId">>@Model.Items[i].Name</a></td>
                            <td>
                                @for (int j = 0; j < Model.Items[i].Tags.Count; j++)
                                {
                                    @Model.Items[i].Tags[j].Text;
                                }
                            </td>
                            @for (int j = 0; j < Model.Items[i].DigitFields.Count; j++)
                            {
                                <td>@Model.Items[i].DigitFields[j].Digit</td>
                            }
                            @for (int j = 0; j < Model.Items[i].TextFields.Count; j++)
                            {
                                <td>@Model.Items[i].TextFields[j].Text</td>
                            }
                            @for (int j = 0; j < Model.Items[i].WordFields.Count; j++)
                            {
                                <td>@Model.Items[i].WordFields[j].Word</td>
                            }
                            @for (int j = 0; j < Model.Items[i].DateFields.Count; j++)
                            {
                                <td>@Model.Items[i].DateFields[j].Date</td>
                            }
                            @for (int j = 0; j < Model.Items[i].CheckboxFields.Count; j++)
                            {
                                <td>@Model.Items[i].CheckboxFields[j].Checkbox</td>
                            }
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-name="@ViewBag.Name" asp-route-itemId="@Model.Items[i].Id" asp-route-id="@ViewBag.CollectionId">Edit</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-itemId="@Model.Items[i].Id" asp-route-name="@ViewBag.Name" asp-route-id="@ViewBag.CollectionId">Delete</a>

                            </td>
                        </tr>
                    }
                </table>
        </form>
</div>
<div class="row">
    <form method="get">
        <button asp-action="Create" asp-route-name="@ViewBag.Name" asp-route-id="@ViewBag.CollectionId" class="btn btn-danger">Create</button>
    </form>
</div>
<script>
    function CreateSort(id) {
        sortBy = document.getElementById("sort-by");
        sortOrder = document.getElementById("sort-order");
        if (@Model.SortBy == id) {
            sortOrder.value = @Model.SortOrder*-1;
            console.log(sortOrder.value)
        }
        else {
            sortOrder.value = 1;
            sortBy.value = id;
        }
    }
</script>